    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" th:fragment = "navbar">
        <a class="navbar-brand">MueblesStgo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/planilla/home">Panel Planillas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/justificacion/home">Panel Justificaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/autorizacion/home">Panel Autorizaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reloj/subirReloj">Cargar marcas de reloj</a>
            </li>
          </ul>
        </div>
      </nav>
