<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Ingreso de Justificativos</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div th:replace = "/fragments/navbar :: navbar">
  </div><br>
  <div class="container-sm">
    <h1 class="h1">Ingresar datos justificación</h1>
  </div>
    <div class="container-sm">
        <!DOCTYPE HTML>
        <html xmlns:th="http://www.thymeleaf.org">
        <head> 
            <title>Ingresar datos justificaciónp</title> 
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        </head>
        <body>
            <form th:action = "@{/justificacion/guardar}" th:object = ${justificacion} method = "POST" enctype="multipart/form-data">
              <!-- <div class="form-group">
                <label for="id">Id</label>
                <input th:field = "*{id}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese el id">
              </div><br> -->
              <div class="form-group">
                <label for="fecha">Fecha</label>
                <input th:field = "*{fecha}" type="date" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese la fecha: yyyy/mm/dd">
              </div><br>
                <div class="form-group">
                  <label for="estado">Estado</label>   
                  <select class="form-control" th:field="*{estado}" required>             
                  <option value=0>No justificada</option>             
                  <option value=1>Justificada</option>           
                  </select> 
                </div><br>
                <div class="form-group">
                  <label for="rut">Rut</label>
                  <input th:field = "*{rut_empleado_justificacion}" type="text" class="form-control" placeholder="Ingrese su rut: 12.345.678-9">
                </div><br>
                <button type="submit" class="btn btn-primary">Cargar Datos</button>
              </form>
            </div>
        </body>
        </html>
    </div>
</body>
</html>